[submodule "basketball_reference_scraper"]
	path = basketball_reference_scraper
	url = https://github.com/vishaalagartha/basketball_reference_scraper.git
[submodule "basketball_reference_web_scraper"]
	path = basketball_reference_web_scraper
	url = https://github.com/jaebradley/basketball_reference_web_scraper.git
[submodule "nba-player-points-prediction"]
	path = nba-player-points-prediction
	url = https://github.com/Jayplect/nba-player-points-prediction.git
[submodule "dgrubis.github.io"]
	path = dgrubis.github.io
	url = https://github.com/dgrubis/dgrubis.github.io.git
[submodule "basketball"]
	path = basketball
	url = https://github.com/octonion/basketball.git
